:root {
  --max-width: 1930px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-principal: 'Roboto';
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-principal);
  
}

html,
body, link {
  max-width: 100vw;
  overflow-x: hidden;


}

body {
  min-height: 200vh;
  max-height: 600vh;
  background-image:url(http://localhost:3000/img/fondoBase1360.jpg);
  object-fit:cover ;
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}


h2 {
  font-size: 62px;
  margin: 20px 0 0 0;
}

h3 {
  font-size: 21px;
}

.bannerRepro {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 64px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(11, 20, 29, 0.87);
  color: antiquewhite;
}

.CardText {
  font-weight: bold;
  margin: 1rem;
  font-family: monospace;

}

