.menu {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px(rgba(0, 0, 0, 0.918));
    justify-content: space-around;
    background: rgba(28, 27, 32, 0.822);
    color: antiquewhite;
    text-transform: uppercase;
    position: sticky;
}

.menu> div {
    display: flex;
    color: antiquewhite;
 
}

.link {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: antiquewhite;

}

.link:hover {
    background-color: rgb(248, 144, 46);
    color: aliceblue;
}