.items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.item h3 {
    font-size: 32px;
    margin: 5px 0;
}